.userDetail {
    font-weight: 500;
    font-size: 16px;
    margin-top: -3px;
}

.userDetailHeader {
    font-size: 12px;
    margin-top: 10px
}

.userProfilePicture {
    width: 50px;
    height: 50px;
    margin-left: -3px;
    float: left;
    display: block
}

.userProfilePanel {
    height: auto;
    overflow: hidden
}

.userProfileName {
    padding-left: 10px;
    margin-left: 50px;
}

.sourcePanel .formField {
    background-color: #dff0d8;
    margin-bottom: 10px;
    color: #3c763d;
    height: 30px;
    line-height: 30px;
    text-align: left;
    padding-left: 10px;
    margin-top: 5px;
    display: block;
}

.destinationPanel {
    background-color: lightcyan;
}

.destinationPanel .formField {
    margin-top: 5px;
    margin-bottom: 10px;
    line-height: 30px;
    color: #000000;
    height: 60px;
    text-align: left;
    padding-left: 10px;
    font-size: 16px;
    display: block;
    background-color: #ffffff;
}

.destinationPanel .formField .crossImage {
    width: 10px;
    height: 10px;
    vertical-align: top;
    margin-top: 10px;
    margin-right: -8px;
}

.destinationPanel .formField .dragImage {
    width: 17px;
    height: 17px;
    vertical-align: top;
    opacity: 0.6;
}

.destinationPanel .formField .helpText {
    font-size: 12px;
    margin-top: -8px;
    opacity: 0.6;
    padding-bottom: -1px;
    border-bottom: 1px dashed #ba0000;
}

.destinationPanel .formName {
    width: 70%;
    border: none;
    outline: none;
    background-color: transparent;
    color:white;
    font-family: inherit;
    font-size: inherit;
    border-bottom: 1px solid #ffffff;
    margin-top: 10px;
    color: #ffffff;
}

.destinationPanel .formName input {
    color: #ffffff;
}

.destinationPanel .formName::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #ffffff;
    opacity: 0.9;
}

.surveyHeading{
    font-weight: 500;
    font-size: 25px;
}

/*.fieldRow {*/
/*display: -webkit-box;*/
/*display: -webkit-flex;*/
/*display: -ms-flexbox;*/
/*display:         flex;*/
/*}*/