.userDetail {
    font-weight: 500;
    font-size: 16px;
    margin-top: -3px;
}

.userDetailHeader {
    font-size: 12px;
    margin-top: 10px
}

.userProfilePicture {
    width: 50px;
    height: 50px;
    margin-left: -3px;
    float: left;
    display: block
}

.userProfilePanel {
    height: auto;
    overflow: hidden
}

.userProfileName {
    padding-left: 10px;
    margin-left: 50px;
}

.sourcePanel .formField {
    background-color: #dff0d8;
    margin-bottom: 10px;
    color: #3c763d;
    height: 30px;
    line-height: 30px;
    text-align: left;
    padding-left: 10px;
    margin-top: 5px;
    display: block;
}

.destinationPanel {
    background-color: lightcyan;
    min-height: 570px;
}

.destinationPanel .formField {
    margin-top: 5px;
    margin-bottom: 10px;
    line-height: 30px;
    color: #000000;
    height: 60px;
    text-align: left;
    padding-left: 10px;
    font-size: 16px;
    display: block;
    background-color: #ffffff;
    /*background-image: url("../imgs/GridIcon.png");*/
    /*background-size: 15px 15px;*/
    /*background-position: right center; *//*Positioning*/
    /*background-repeat: no-repeat;*/
}

.destinationPanel .formField .crossImage {
    width: 10px;
    height: 10px;
    vertical-align: top;
    margin-top: 10px;
    margin-right: -8px;
}

.destinationPanel .formField .dragImage {
    width: 17px;
    height: 17px;
    vertical-align: top;
    opacity: 0.6;
}

.destinationPanel .formField .helpText {
    font-size: 12px;
    margin-top: -8px;
    opacity: 0.6;
    padding-bottom: -1px;
    border-bottom: 1px dashed #ba0000;
}

.destinationPanel .formName {
    width: 60%;
    border: none;
    outline: none;
    background-color: transparent;
    color:white;
    font-family: inherit;
    font-size: inherit;
    border-bottom: 1px solid #ffffff;
    margin-top: 10px;
    color: #ffffff;
}

.destinationPanel .formName input {
    color: #ffffff;
}

.destinationPanel .formName::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #ffffff;
    opacity: 0.9;
}

.surveyHeading{
    font-weight: 500;
    font-size: 25px;
}

.destinationPanel .button {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding-right: 10px;
    padding-left: 40px;
    position: relative;
    background-color:#ffffff;
    color:#337ab7;
    text-decoration: none;
    /*text-transform: uppercase;*/
    /*letter-spacing: 1px;*/
    margin-bottom: 5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    /*text-shadow:0px 1px 0px rgba(0,0,0,0.5);*/
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true)";zoom:1;
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true);

    -moz-box-shadow:0px 2px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow:0px 2px 2px rgba(0,0,0,0.2);
    box-shadow:0px 2px 2px rgba(0,0,0,0.2);
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true)";
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true);
}

.destinationPanel .button span {
    position: absolute;
    text-align: center;
    left: 0;
    width: 30px;
    background-color: #d9edf7;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: 1px solid  rgba(0,0,0,0.15);
}

.destinationPanel .button.turquoise {
    background: #1abc9c;
}

.nav-tabs li:nth-child(2) {margin-right: 10px;}